{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

    <div>
        <p class="barlow-thin" style="font-size: 20px;">
            Welcome to your café menu creator, a space where you can bring your café's personality to life. Create and customize your menu by adding items from any category you like, and update them whenever inspiration strikes. It's all about capturing your unique style and sharing it with your customers. Once you've created the perfect menu, display it proudly and print it easily. Let's turn your vision into reality.
        </p>
    </div>
    
{% endblock %}
