{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}
    <form class="container form-container text-center" action="/add" method="post">
        <fieldset>
            <legend class="caudex-regular mb-3" style="color: #BDB76B">Add items to your menu</legend>

            <div class="mb-3">
                <select name="category" class="form-select form-control mx-auto w-auto">
                    <option disabled selected>Category</option>
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <input autocomplete="off" type="text" class="form-control form-control mx-auto w-auto" name="item" placeholder="Product name">
            </div>

            <div class="mb-3">
                <input autocomplete="off" type="text" class="form-control form-control mx-auto w-auto" name="price" placeholder="Price" type="number">
            </div>
            {% if error_message_add %}
                <div class="error_message mb-3">{{ error_message_add }}</div>
            {% endif %}
            <button type="submit">Add</button>
        </fieldset>
    </form>

{% endblock %}
