{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <div class="img-background">
        <img class="img-back" src="/static/background.jpg" alt="img">
    </div>

    <div style="padding-top: 130px; font-size: 20px; color: #000000; text-shadow: 1px 1px 4px gray;" class="libre-caslon-display-regular">
        <h1>
            <div>
                <p>Create,</p>
                <p>Update,</p>
                <p>Caffeinate.</p>
            </div>
        </h1>
    </div>

{% endblock %}
