{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <div class="container form-container text-center">
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="email" placeholder="Email" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
            {% if error_message_login %}
                <div class="error_message mb-3">{{ error_message_login }}</div>
            {% endif %}
            <button type="submit">Log In</button>
        </form>

    </div>

{% endblock %}
